<div class="container-fluid">
    <div class="header">
        <span>Forgot Password</span>
    </div>
</div>
   
<div class="limiter" ng-controller="ChangePassCtrl as fpCtrl">
<div class="container_w">
    <form class="form-inline apply-leave forgot-password">
        <div class="form-group">
            <label for="filter">Old Password <span>*</span>               
            </label>
            <div class="input-group ">
                <input type="password" class="form-control" ng-model="oldpassword" placeholder="Enter Old Pasword" required>

            </div>
        </div>
        <div class="form-group">
            <label for="filter">New Password <span>*</span></label>
            <div class="input-group ">
                <input type="password" class="form-control" ng-model="newpassword" placeholder="Enter New Pasword" required>

            </div>
        </div>
        <div class="form-group">
            <label for="filter">Conf.Password <span>*</span></label>
            <div class="input-group ">
                <input type="password" class="form-control" ng-model="confirmpassword" placeholder="Confirm Pasword" required>
            </div>
        </div>
        <div class="form-group">
        <button type="submit" class="btn  btn-purple" ng-click="fpCtrl.validateChangePassword()">Submit</button>
        <button type="reset" class="btn btn-purple"  style="margin-left:15px;">Cancel   </button>
            </div>
    </form>
</div>
    </div>