
<link href="../../css/loginStyleSheet.css" rel="stylesheet" />

<div ng-controller="LabelCtrl as Labelctrl">
    <div class="limiter" ng-controller="SmsCtrl as SmsCtrl">
        <div class="container-login100">



            <div class="wrap-login100" ng-controller="LoginCtrl as lCtrl">



                <div class="dropdown language-dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        ENGLISH
                        <!--<img src="../../images/flag.png" />ENG-->
                        <!--<span class="caret"></span>-->
                    </button>
                    <!--<ul class="dropdown-menu">
                    <li><a href="#"><img src="../../images/flag.png" />ENG</a></li>-->
                    <!--<li><a href="#"><img src="../../images/flag.png" />ENG</a></li>-->
                    <!--</ul>-->
                </div>

                <form class="login100-form validate-form" id="loginForm" name="loginForm" method="post" ng-submit="lCtrl.validateLogin(loginForm.$valid)" novalidate>
                    <span class="login_logo_w"><img src="../../images/logo.png" /></span>
                    <span class="login100-form-title p-b-26">
                        LOGIN
                    </span>
                    <div style="margin:0 0 10px 10px;">
                        <span style="color:red;">{{alertMessage}}</span>
                    </div>


                    <div>
                        <div class="wrap-input100 validate-input input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input class="input100" type="text" name="userName" ng-model="lCtrl.username" placeholder="{{Labelctrl.LabelText.PHUserName}}" required>


                        </div>
                        <div style="margin-left:10%;">
                            <span class="help-block" style="color:red" ng-show="loginForm.userName.$error.required" ng-if="loginForm.$submitted">
                                UserName is required.
                            </span>
                        </div>
                    </div>
                    <!--<div class="wrap-input100 validate-input input-group" data-validate="Enter password">
                    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>-->
                    <!--<span class="btn-show-pass">
                        <i   class="zmdi zmdi-eye" ng-model="lCtrl.password"></i>
                    </span>-->
                    <!--<span class="btn-show-pass">
                            <input type="checkbox" ng-model="lCtrl.password" />
                        </span>
                        <input class="input100" type="password" name="pass" ng-model="lCtrl.password" placeholder="Password" data-toggle="isPassword" is-password="lCtrl.password">

                    </div>-->

                    <div>
                        <div class="wrap-input100 validate-input input-group" data-validate="Enter password">
                            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye" ng-click="lCtrl.show()"></i>
                            </span>
                            <input class="input100" type="{{inputType}}" name="pass" ng-model="lCtrl.password" placeholder="{{Labelctrl.LabelText.PHPassword}}" required>
                        </div>
                        <div style="margin-left:10%;">
                            <span class="help-block" style="color:red" ng-show="loginForm.pass.$error.required" ng-if="loginForm.$submitted">
                                Password  is required.
                            </span>
                        </div>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <!--<button class="login100-form-btn" ui-sref="private.dashboard">Login</button>-->
                            <button type="submit" class="login100-form-btn">{{Labelctrl.LabelText.Login}}</button> <!--ng-click="lCtrl.validateLogin()"-->
                            <!--<span class="pull-right" ng-click="lCtrl.forgetPassword()"><i class="fa fa-hand-o-right"style="color:deeppink" ></i> Forget Password?</span>--> <!--ng-click="lCtrl.forgetPassword()"-->
                            <!--<div ng-controller="SmsCtrl as SmsCtrl"><span class="pull-right" style="color:deeppink;cursor:pointer;" ng-click="SmsCtrl.SendSms();"><i class="fa fa-hand-o-right" style="color:deeppink;cursor:pointer;" ></i> Forget Password?</span></div>-->
                            <br />
                            <div><span class="pull-right" style="cursor:pointer;" ng-click="SmsCtrl.ForgetPasswordPopup();"><i class="fa fa-hand-o-right" style="color:deeppink;cursor:pointer;"></i> {{Labelctrl.LabelText.ForgetPassword}}</span></div>
                            <br />
                            <span class="pull-right" ng-click="lCtrl.signup()"> <i class="fa fa-hand-o-right" style="color:deeppink"></i> {{Labelctrl.LabelText.SignUp}}</span>

                        </div>
                    </div>

                </form>

            </div>


            <!------------Forget Password Popup-------------->
            <div>
                <!--ng-controller="SmsCtrl as SmsCtrl"-->
                <div class="modal fadein training-edit-details forgotpassW" role="dialog" ng-class="{'active':SmsCtrl.ShowForgetPasswordPopup==true}">

                    <div class="modal-dialog ">

                        <div class="modal-content" style="width:80%;margin-left: 10%;">
                            <div class="modal-header modal-header-primary">
                                <button type="button" class="close" ng-click="SmsCtrl.CloseForgetPasswordPopup()" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{Labelctrl.LabelText.ForgetPassword}}</h4>
                            </div>


                            <form name="forgetPasswordForm" method="post" ng-submit="forgetPassword(forgetPasswordForm.$valid)" novalidate>
                                <!--id="forgetPasswordform"-->
                                <div class="modal-body">
                                    <div class="form-horizontal">

                                        <div style="text-align:center;">
                                            <span style="color:red;">{{alertMessageModal}}</span>
                                        </div>

                                        <div>
                                            <span style="color:green;margin-left:30%;margin-bottom:5%;">{{alertMessageForSMS}}</span>
                                        </div>

                                        <!--<div>-->
                                        <!--<form id="forgetPasswordForm" name="forgetPasswordForm" method="post" ng-submit="SmsCtrl.SendSms(forgetPasswordForm.$valid)" novalidate>-->
                                        <!--ng-submit="SmsCtrl.SendSms(forgetPasswordForm.$valid)"-->
                                        <!--<div class="form-group">
                                            <label class="control-label col-sm-3">UserName<span class="red">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="UserName" ng-model="txtUserName" id="txtUserName" name="UserName" >
                                            </div>
                                        </div>-->

                                        <div class="form-group">
                                            <label class="control-label col-sm-3">{{Labelctrl.LabelText.LabUserId}}<span class="red">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" autocomplete="off" class="form-control" placeholder="{{Labelctrl.LabelText.LabUserId}}" ng-model="txtEmployeeId" id="txtEmployeeId" name="EmployeeId" required>
                                            </div>
                                            <span id="spanEmpID" class="help-block" style="color:red;margin-left: 28%;margin-bottom: -1px;" ng-show="forgetPasswordForm.EmployeeId.$error.required" ng-if="forgetPasswordForm.$submitted">Please Enter EmployeeID</span>
                                        </div>

                                        <br />
                                        <div class="form-group">
                                            <label class="control-label col-sm-3">{{Labelctrl.LabelText.LabEmail}}<span class="red">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" autocomplete="off" class="form-control" placeholder="{{Labelctrl.LabelText.PHEmail}}" ng-model="txtEmail" id="txtEmail" name="Email" required>
                                            </div>
                                            <span id="spanEmail" class="help-block" style="color:red;margin-left: 28%;margin-bottom: -1px;" ng-show="forgetPasswordForm.Email.$error.required" ng-if="forgetPasswordForm.$submitted">Email is required in valid format</span>  <!--|| forgetPasswordForm.Email.$dirty-->
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-3">{{Labelctrl.LabelText.LabMobile}}<span class="red">*</span></label>
                                            <div class="col-sm-2" style="display:none">
                                                <input type="text" class="form-control" placeholder="+91" ng-model="txtCountryPrefix" id="txtCountryPrefix" name="CountryPrefix">
                                            </div>
                                            <div class="col-sm-6" style="margin-left:4%;">
                                                <div class="row">
                                                    <input autocomplete="off" type="number" class="form-control" placeholder="Mobile (XXXXXXXXXX)" ng-model="txtMobile" id="txtMobile" name="Mobile" required style="margin-left: -1%;" pattern="\d*" onKeyPress="if(this.value.length==10) return false;">
                                                </div>
                                                <span id="spanMobile" class="help-block" style="color:red;margin-left: -15px;margin-top: 2px;margin-bottom: -1px;" ng-show="forgetPasswordForm.Mobile.$error.required" ng-if="forgetPasswordForm.$submitted">MobileNumber is required</span>
                                            </div>


                                            <div class="col-sm-2">
                                                <div class="row">
                                                    <button type="button" class="btn  btn-purple" style="font-size: 14px;  margin-left: 10px; padding: 6px;" ng-click="SmsCtrl.SendSms()">Send OTP</button>
                                                    <!--<button type="submit" class="btn  btn-purple" style="font-size: 12px;  margin-left: 5px; padding: 4px;">Send OTP</button>-->   <!--ng-click="SmsCtrl.SendSms()"--> <!--ng-click="SmsCtrl.SendPassword();"-->
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div class="col-sm-9" style="margin-left:22%;margin-bottom:2%;">
                                            <button type="submit" class="btn  btn-purple" ng-click="SmsCtrl.SendPassword();">Submit</button>
                                        </div>-->
                                        <!--</form>-->
                                        <!--</div>-->

                                        <div class="form-group forgot-pass-otp">
                                            <label class="control-label col-sm-3">{{Labelctrl.LabelText.LabOtp}}<span class="red">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" autocomplete="off" class="form-control" placeholder="(XXXX)" ng-model="txtOtp" id="txtOtp" name="OTP" ng-disabled="textOTP" required>
                                            </div>
                                            <span style="color:red;margin-left: 28%;margin-top: 2px;margin-bottom: -1px;">{{alertMessageModalForOTPRequired}}</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-purple">Submit</button>  <!--ng-click="SmsCtrl.forgetPassword()"-->
                                    <button type="button" ng-click="SmsCtrl.CloseForgetPasswordPopup();" class="btn btn-purple" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                            <!--</div>


                            </div>-->
                        </div>
                    </div>
                </div>
            </div>




            <!--</div>-->


        </div>



    </div>



</div>
<!--<script type="text/javascript">
    $("#password").password('toggle');
</script>-->
